:root {
    --frontcolor: #000;
    --backcolor: #EFEFEF;
    --subbackcolor: #fefefe;
    --activecolor: #FFFF00;
    --barcolor: #fff;
    --barfcolor: #333;
}

body {
    color: var(--frontcolor);
    background: none;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background: var(--backcolor);
    background-size: cover;
}

.abox,
.problembox>div,
.problemsubbox>div,
.dropdown-menu,
.dropdown-menu:hover,
.dropdown-item:hover {
    background: var(--subbackcolor);
}

.active-item {
    border-bottom: 2px solid var(--activecolor);
}

.themed-color {
    background: var(--subbackcolor);
    color: var(--frontcolor);
}